---

---

<section class="padding-block-lg">
  <div class="container">
    <div class="even-columns">
      <div class="flow">
        <h2>Moje dobrodružství</h2>
        <p>
          Cestování je pro mě způsob, jak si vyčistit hlavu a načerpat novou
          energii. Nejde vždy o velké výpravy — někdy stačí víkend někde
          uprostřed ničeho, aby člověk získal nový pohled na věci.
        </p>
        <a href="/adventures" class="btn secondary-btn">Příběhy z cest</a>
      </div>
      <div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Deb5UDI9ba0?si=T5Twuqp37SbfYoXO"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
